# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tg-bot-food-decider
  labels:
    app: tg-bot-food-decider
    app.kubernetes.io/name: "food-decider-telegram-bot"
    app.kubernetes.io/instance: "food-decider-telegram-bot-live"
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/component: "server"
    app.kubernetes.io/part-of: "food-decider-telegram-bot"
    app.kubernetes.io/managed-by: "argo"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tg-bot-food-decider
  template:
    metadata:
      labels:
        app: tg-bot-food-decider
    spec:
      automountServiceAccountToken: false
      containers:
        - name: tg-bot-food-decider
          image: itachi1706/personal-docker-images:tg-bot-food-decider
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: food-decider-tg-bot-secrets
          resources:
            requests:
              memory: 10Mi
              cpu: 10m
              ephemeral-storage: 30Mi
            limits:
              memory: 256Mi
              cpu: 100m
          livenessProbe:
            httpGet:
              path: /health
              port: 9999
            initialDelaySeconds: 5
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 9999
            initialDelaySeconds: 5
            periodSeconds: 5
          startupProbe:
            httpGet:
              path: /health
              port: 9999
            initialDelaySeconds: 5
            periodSeconds: 5
      imagePullSecrets:
        - name: dockerhub-creds