name: Formatting Checks

on: ["push", "pull_request"]

jobs:
  gofmt:
    runs-on: ubuntu-latest
    name: Go Formatting Check
    permissions:
      pull-requests: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.22'
      - name: Run Go Formatter check
        id: gofmtchk
        uses: Jerome1337/gofmt-action@v1.0.5
        with:
          gofmt-flags: '-l -d'
      - name: Comment in PR
        if: github.event_name == 'pull_request'
        uses: OrjanSkarnes/pull-request-commenter@1.2.3
        with:
          comment-body: ${{steps.gofmtchk.outputs.gofmt-output}}
          comment-title: Go Formatter Result
          comment-search-includes: Go Formatter Result
          github_token: ${{ secrets.GITHUB_TOKEN }}
